RewriteEngine On

# Wenn Datei oder Verzeichnis existiert → normal ausliefern
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Wenn die Anfrage NICHT nach einer Datei aussieht (kein Punkt), dann weiterleiten
RewriteRule ^ frontend/build/index.html [L]
