RewriteEngine On

# Wenn genau die Startseite (/) aufgerufen wird
RewriteRule ^$ frontend/build/index.html [L]

# Wenn Datei oder Verzeichnis existiert, normal ausliefern
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Alles andere auch an die SPA weiterleiten
RewriteRule ^ frontend/build/index.html [L]
