RewriteEngine On

# Wenn Datei oder Verzeichnis existiert → normal ausliefern
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

# Alles andere an index.html umleiten
RewriteRule ^ index.html [L]
